.outer {
  margin: 0 auto;
  width: 400px;
}

button {
  color: white;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
}

button:onClick {
  background-color: blue;
}

button:hover {
  opacity: 0.4;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.disabled {
  background-color: grey;
  pointer-events: none;
}

.enabled {
  background-color: green;
  cursor:pointer;
}

.enabledChoco {
  background-color: brown;
  cursor:pointer;
}


.price {
    background: #000;
    color: #fff;
    font-style: italic;
    font-size: 16px;
    padding: 1px 5px;
}

.display {
  font-size: 18px;
}
